body{
    background-color: #f7bdcb;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.logo-img {
    width: 100px;
    height: auto;
}

.navbar{
    background-color: #ffefec;
    border: none;
    border-bottom: 2px solid #cf252e;

}

.luna{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
    height: 300px;
}

.propuestas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    grid-area: auto;
    align-items: center;
    padding: 20px;
    gap: 20px;
    text-decoration: underline;
}

.propuestas img{
    max-width: 100%;
    height: auto;
    display: block;
}
.titulo-propuestas{
    display: block;
    text-align: center;
}

.destacado {
    display: grid;
}

.destacado img {
    width: 100vw;           
    height: 800px;          
    object-fit: cover;      
    display: block;         
}

.texto {
    text-align: center;
    text-decoration: underline;
    padding: 20px;
}


.contacto-luna{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1;
    grid-area: auto;
    align-items: center;
    padding: 100px;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.instagram{
    display: block;
}
.tiktok{
    display: block;
    background-color: #f7bdcb;
}

.redes img{
    width: 50px;
    height: 50px;
}
footer h2{
    text-align: center;
    text-decoration: underline;
}

footer p{
    text-align: center;
}

/* Media query para mobile */
@media screen and (max-width: 767px){
    
    .propuestas{
        display: flex;
        flex-direction: column;
        
    }

    .contacto-luna{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}