body{
    background-color: $color-secundario;
    font-family: $fuente-principal;
    font-style: normal;
    
    .destacado{
        display: grid;

        img{
        width: 100%;
        height: 800px;
        object-fit: cover;
        display: block;
        align-items: center;
    }
}
    .altura-carousel{
        height: 800px;
        overflow: hidden;
    }

    .carousel{
        @include centrar-flex;
        img{
            object-fit: contain;
            max-height: 100%;
            width: auto;
        }
    }

    .texto{
        @include centrar-flex;
        padding: 1px;
        .resaltado{
            background-color: $color-terciario;
            border-radius: 8px;
        }
    }

    .luna{
        @include centrar-flex;
        flex-direction: column;
        max-width: 300px;
        height: 300px;
        background-color: $color-primario;
        border-radius: 8px;
        margin: 2rem auto;

        .titulo-luna{
            font-size: 1.5rem;
            margin-top: 1rem;
            padding: 1rem;
            text-align: center;
            text-decoration: underline;
        }
        
        .texto-luna{
            font-size: 1rem;
            width: 80%;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 0 1rem;
            text-align: justify;
            line-height: 1.5;
        }
    }
}
