body{
    background-color: $color-primario;
    font-family: $fuente-principal;
    font-style: normal;
    
    .destacado{
        display: grid;

        img{
        width: 100vw;
        height: 800px;
        object-fit: cover;
        display: block;
        align-items: center;
    }
}
    .altura-carousel{
        max-height: 800px;
        overflow: hidden;
    }
    
    .carousel{
        @include centrar-flex;
        img{
            object-fit: contain;
            max-height: 100%;
            width: auto;
        }
    }

    .texto{
        @include centrar-flex;
        text-decoration: underline;
        padding: 25px;
    }

    .lunna{
        @include centrar-flex;
        flex-direction: column;
        padding-bottom: 100px;
        height: 300px;
    }
}
