.propuestas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 20px;
    gap: 20px;
    text-decoration: underline;

    img{
        max-width: 100%;
        height: auto;
        display: block;
    }
}

.titulo-propuestas{
    display: block;
    text-align: center;
}