.propuestas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 20px;
    text-decoration: underline;

    article{
        background-color: $color-primario;
        padding: 1rem;
        border-radius: 8px;
    }

    img{
        max-width: 100%;
        height: auto;
        border-radius: 4px;
        margin-top: 0.5rem;
    }
}

.titulo-propuestas{
    text-align: center;
    background-color: $color-terciario;
    margin: 1rem;
    border-radius: 8px;
}