    .logo-img {
        width: 100px;
        height: auto;
    }

    .navbar{
        background-color: $color-secundario;
        border: none;
        border-bottom: 2px solid $color-terciario;
    }